/* Desktop/large screens */
@media screen and (min-width: 800px) {
    html, body {
        width: 100%;
        height: 100%;
    }
    
    #iconholder {
        width: 35vw;
        margin-left: 5vmax; 
    }
    .bottomtext {
        width: 40vw;
        margin-left: 5vmax;
    }
    
    nav ul li{
        display: inline-block;
        list-style-type: none;
        padding-right: 10px;
        position:relative;
        margin: 0px;
    }
    @import url('https://fonts.googleapis.com/css?family=Josefin+Sans:100,300,600');
    body {
        margin: 0px;
        font-family: 'Josefin Sans', sans-serif;
        background-color: #222222;
        color:white;/* color of nirmit shah text */
        overflow-x: hidden; /* Disable horizontal scroll */
        overflow-y: hidden;
    }
    b {
        color: #36e8f9;
    }
    p {
        font-size: 2rem;
        line-height: 3rem;
    }
    h2 {
        margin-left: 5vmax;
        margin-top: 5vmax;
    }
    h2, p {
        color: #515151;
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 100;
    }
    span {
        font-size: 6vmax;
    }
    
    h2:hover span {
        animation: blink infinite alternate-reverse linear;
    }
    h2 span:nth-child(1) { animation-duration: 12s; }
    h2 span:nth-child(2) { animation-duration: 21s; }
    h2 span:nth-child(3) { animation-duration: 4s; }
    h2 span:nth-child(4) { animation-duration: 11s; }
    h2 span:nth-child(5) { animation-duration: 15s; }
    h2 span:nth-child(6) { animation-duration: 30s; }
    h2 span:nth-child(7) { animation-duration: 6s; }
    h2 span:nth-child(8) { animation-duration: 18s; }
    h2 span:nth-child(9) { animation-duration: 25s; }
    h2 span:nth-child(10) { animation-duration: 21s; }
    
    @keyframes blink {
        from { color: #149870; }
        to   { color: #515151; }
    }
    .yellowLink {
        color: #ffe923;
        text-decoration: none;
        border-bottom: 1px solid #ffe923;
        padding-bottom: 1px;
    }
    .redLink {
        color: #ff3d3d;
        text-decoration: none;
        border-bottom: 1px solid #ff3d3d;
        padding-bottom: 1px;
    }
    
    .container{
        width: 100%;
        height: 100%;
        display: flex;
        top: 0;
        left: 0;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    h1{
        /* font-size: 56pt; */
        font-size: 5vmax;
        white-space: nowrap;
        margin-bottom: 30px;
        z-index: 1;
    }
    
    #mainhub {
        transition: margin-left .9s;
    }
    #iconholder a {
        height: 24px;
        width: 24px;
        display: block;
    }
    #logo{
        /* color: #c10101; */
        /* color: #515151; */
        font-size: 1.5em;
        transition: margin-left .9s;
    }
    #twitterlogo{
        color: #FF1111;
        transition: margin-left .9s;
    }
    #githublogo{
        color: #9e36f9;
        transition: margin-left .9s;
    }
    #linkedinlogo{
        color: #3775fc;
        transition: margin-left .9s;
    }
    #emaillogo{
        color: #36f9a7;
        transition: margin-left .9s;
    }
    body ul li{
        display: inline;
        position: relative;
        text-align: center;
        white-space: nowrap;
        left: 50%;
        margin-left: 75px;
    }
    
    
    i{
        position:fixed;
    }
    i:hover{
        transform: scale(1.3);
    }
    
    #iconholder{
        flex-wrap: nowrap;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        white-space: nowrap;
        margin-left: 5vw;
    }
    
    #contacticonholder{
            margin-left: 5vw;
            margin-top: 3vw;
            width: 10vw;
            flex-wrap: nowrap;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            white-space: nowrap;
    }
    #contacticonholder a {
        height: 20px;
        width: 20px;
        display: block;
    }
}


/* Mobile Screens */
@media screen and (max-width: 799px) {
    html, body {
        width: 100%;
        height: 100%;
    }
    
    #iconholder {
        width: 85vw;
    }
    .bottomtext {
        width: 90vw;
    }
    
    @import url('https://fonts.googleapis.com/css?family=Josefin+Sans:100,300,600');
    body {
        margin: 0px;
        font-family: 'Josefin Sans', sans-serif;
        background-color: #222222;
        color:white;/* color of nirmit shah text */
        overflow-x: hidden; /* Disable horizontal scroll */
    }
    b {
        color: #36e8f9;
    }
    p {
        font-size: 2rem;
        line-height: 3rem;
    }
    h2 {
        margin-top: 5vmax;
    }
    h2, p {
        color: #515151;
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 100;
    }
    span {
        font-size: 7vmax;
    }
    
    h2:hover span {
        animation: blink infinite alternate-reverse linear;
    }
    h2 span:nth-child(1) { animation-duration: 12s; }
    h2 span:nth-child(2) { animation-duration: 21s; }
    h2 span:nth-child(3) { animation-duration: 4s; }
    h2 span:nth-child(4) { animation-duration: 11s; }
    h2 span:nth-child(5) { animation-duration: 15s; }
    h2 span:nth-child(6) { animation-duration: 30s; }
    h2 span:nth-child(7) { animation-duration: 6s; }
    h2 span:nth-child(8) { animation-duration: 18s; }
    h2 span:nth-child(9) { animation-duration: 25s; }
    h2 span:nth-child(10) { animation-duration: 21s; }
    
    @keyframes blink {
        from { color: #149870; }
        to   { color: #515151; }
    }
    .yellowLink {
        color: #ffe923;
        text-decoration: none;
        border-bottom: 1px solid #ffe923;
        padding-bottom: 1px;
    }
    .redLink {
        color: #ff3d3d;
        text-decoration: none;
        border-bottom: 1px solid #ff3d3d;
        padding-bottom: 1px;
    }
    
    .container{
        width: 100%;
        height: 100%;
        display: flex;
        top: 0;
        left: 0;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    h1{
        /* font-size: 56pt; */
        font-size: 5vmax;
        white-space: nowrap;
        margin-bottom: 30px;
        z-index: 1;
    }
    
    #mainhub {
        transition: margin-left .9s;
    }
    #iconholder a {
        height: 35px;
        width: 36px;
        display: block;
    }
    #logo{
        /* color: #c10101; */
        /* color: #515151; */
        font-size: 2.5em;
        transition: margin-left .9s;
    }
    #twitterlogo{
        color: #FF1111;
        transition: margin-left .9s;
    }
    #githublogo{
        color: #9e36f9;
        transition: margin-left .9s;
    }
    #linkedinlogo{
        color: #3775fc;
        transition: margin-left .9s;
    }
    #emaillogo{
        color: #36f9a7;
        transition: margin-left .9s;
    }
    body ul li{
        display: inline;
        position: relative;
        text-align: center;
        white-space: nowrap;
        left: 50%;
        margin-left: 75px;
    }
    
    
    i{
        position:fixed;
    }
    i:hover{
        transform: scale(1.3);
    }
    
    #iconholder{
        flex-wrap: nowrap;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        white-space: nowrap;
        margin-left: 5vw;
    }
}
