h1{
    font-size: 28pt;
    white-space: nowrap;
    -webkit-animation: fadein 2s ease-in; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s ease-in; /* Firefox < 16 */
    -ms-animation: fadein 2s ease-in; /* Internet Explorer */
    -o-animation: fadein 2s ease-in; /* Opera < 12.1 */
    animation: fadein 2s ease-in;
    margin-bottom: 30px
}
h2 {
    /*position: absolute;
    margin-left: 50%;
    top: 48%;
    margin-right: 50%;
    transform: translate(-50%, -50%); */
    -webkit-animation: fadein 2s ease-in; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s ease-in; /* Firefox < 16 */
    -ms-animation: fadein 2s ease-in; /* Internet Explorer */
    -o-animation: fadein 2s ease-in; /* Opera < 12.1 */
    animation: fadein 2s ease-in;
    white-space: nowrap;
    margin-top: 40px;
    margin-bottom: 30px;
}
#centerline {
    width: 3vw;
    height: 2px;
    background: red;
    /*position: absolute;
    margin-left: 50%;
    top: 46%;
    margin-right: 50%;
    transform: translate(-50%, -50%); */
    -webkit-animation: fadein 2s ease-in; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s ease-in; /* Firefox < 16 */
    -ms-animation: fadein 2s ease-in; /* Internet Explorer */
    -o-animation: fadein 2s ease-in; /* Opera < 12.1 */
    animation: fadein 2s ease-in;
}

#iconholder{
    width: 25vw;
    flex-wrap: nowrap;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    white-space: nowrap;
    -webkit-animation: fadein 2s ease-in; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s ease-in; /* Firefox < 16 */
    -ms-animation: fadein 2s ease-in; /* Internet Explorer */
    -o-animation: fadein 2s ease-in; /* Opera < 12.1 */
    animation: fadein 2s ease-in;
}
