@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:300,700');
.ml15 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 300;
  color: white;
  font-size: 3.8em;
  text-transform: uppercase;
  letter-spacing: 0.5em;
}

.ml15 .word {
  display: inline-block;
  line-height: 1em;
}
#name {
  font-weight: 700;
}
.container {
  display:flex;
  justify-content:center;
  align-items:center;
}
